# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/
.vercel
.next

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*.swn

# Logs
logs/
*.log

# Temp
tmp/
temp/